@font-face {
   font-family: ThingsGOlight;
   src: url(fonts/sofiapro-light.otf);
}

@font-face {
   font-family: ThingsGOregular;
   src: url(fonts/sofia-pro-regular.otf);
}

* {
}
@media (max-width: 2000px) {

.bgimg {
  height: 600px!important;
}
.middle-social {
  top: 20%!important;
}
}
@media (max-width: 1200px) {

.bgimg {
  height: 500px!important;
}
.middle-social {
  top: 20%!important;
}
}

@media (max-width: 600px) {
  body {
    height: 970px!important;
  }
.bgimg  {
  top: -15%;
  }
.char-1 {
  font-size:20px!important;
}
.char-2 {
  font-size:20px!important;
}
.logoxrp {
  top:40%!important;
}
.logo-xrp {
  max-width: 80px!important;

}
.social-phone{
  top:40%!important;
}
.middle{
  top:40%important;
}
.sub-title-3{
    top:100px!important;
    font-size: 30px!important;
  }
.sub-title-2{
    font-size: 20px!important;
    top:-30px!important;
    padding-left: 40px;
    padding-right: 40px;
  }
.img-logo-soon {
  max-width: 300px!important;
}
.sub-title-1{
  font-size: 20px!important;
}
.header-social ul {
  margin-left: -40px!important;
}
}


@media (max-width: 1200px) {

.sub-title-2{
    font-size: 20px!important;
  }
.img-logo-soon {
  max-width: 400px;
}
}

.char-2{
  font-size: 40px;
  height: 40px;
  animation: an 3s ease-out 1 both;
  display: inline-block;
}
    @keyframes an{
      from{
    opacity: 0;
    transform: perspective(500px) translate3d(0px, 40px, 0px) rotate3d(1, 1, 0, 0deg);
}
      to{
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
.char-1{
  font-size: 40px;
  height: 40px;
  animation: an 2s ease-out 1 both;
  display: inline-block;
}
    @keyframes an{
      from{
    opacity: 0;
    transform: perspective(500px) translate3d(0px, 40px, 0px) rotate3d(1, 1, 0, 0deg);
}
      to{
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
.logo-things-animation {
  animation: fadeInUp 1s ease-out 1 both ;
}
.logo-animation {
  animation: fadeInUp 2.5s ease-out 1 both ;
  left: 0;
  bottom: 0;
}
.text-animation {
  animation: fadeInUp 4s ease-out 1 both ;
  left: 0;
  position: relative;
  bottom: 0;
}
.textsub-animation {
  animation: fadeInUp 2s ease-out 1 both ;

}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(50px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(50px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(50px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

body, html {
  height: 100%;
  margin: 0;
  background: rgb(63,141,204);
  background: linear-gradient(150deg, rgba(63,141,204,1) 0%, rgba(86,190,137,1) 100%);
  z-index: -99;
}
p {
   text-align: center;
 }
.bgimg {
  height: 100%;
  position: relative;
  color: #00000;
  font-family: 'ThingsGOlight', sans-serif;
  font-size: 30px;
}
.sub-title-1{
  position: relative;
  font-family: 'ThingsGOlight', sans-serif;
  top: -20px;
  font-size: 30px;
  color: #4d4d4d;

}

.sub-title-2 {
  position: relative;
  font-family: 'ThingsGOregular', sans-serif;
  top:-100px;
  font-size: 40px;
  color: #ffffff;
  font-weight: 100;
}
.sub-title-3 {
  position: relative;
  font-family: 'ThingsGOregular', sans-serif!important;
  top: 50px;
  font-size: 40px;
  color: #ffffff;
  font-weight: 100;
}
.logoposition {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logoxrp {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.middle-1 {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -4;
}

.middle-social{
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
hr {
  margin: auto;
  width: 50%;
  height: 5px;
  background-color: #fec235;
  border-radius: 250px;
  border: none;
}
.img-logo-soon {
  max-width: 800px;
  margin-top: -20px;
}

/*Social*/
.header-social{
  top:15px;
}

.header-social ul{
	list-style: none;
  width: fit-content;
  margin: auto;
}

.header-social ul li{
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 1.5em;
}

.header-social ul li i{
	border-radius: 50%;
	width: 35px;
  height: 35px;
  line-height: 5px;
  text-align: center;
}

.header-social ul li::after{
	display: inline-block;
	font-size: 0em;
	transition: font-size .7s;
  position: relative;
  right: -10px;
  font-family: ThingsGOlight , sans-serif;
  font-weight: 100;
}

.header-social ul li.telegram::after{
  content: 'ThinsgGoOnline';
}

.header-social ul li.discord::after{
  content: 'TGO - ThingsGo Online';
}

.header-social ul li.twitter::after{
  content: 'ThingsGoOnline';

}
.header-social ul li.id::after{
  content: 'thingsgoonline';

}

.header-social a{
	color: #ffffff;
	transition: opacity .3s;
  text-decoration: none;
}

.header-social a:hover{
	opacity: 0.7;
}

.header-social li:hover::after{
	font-size: 0.8em;
}

.fa-telegram{
  position: relative;
  top:15px;
}

.fa-twitter{
  position: relative;
  top:15px;
}

.fa-discord{
  position: relative;
  top:15px;
}

.fa-instagram{
  position: relative;
  top:15px;
}

.fa-id{
  position: relative;
  top:15px;
}
.fade{
  display: inline-block;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}
.fade-2{
  display: inline-block;
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
}
.fade-3{
  display: inline-block;
  animation: fadeIn linear 6s;
  -webkit-animation: fadeIn linear 6s;
  -moz-animation: fadeIn linear 6s;
  -o-animation: fadeIn linear 6s;
  -ms-animation: fadeIn linear 6s;
}
.fade-4{
  display: inline-block;
  animation: fadeIn linear 10s;
  -webkit-animation: fadeIn linear 10s;
  -moz-animation: fadeIn linear 10s;
  -o-animation: fadeIn linear 10s;
  -ms-animation: fadeIn linear 10s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
